<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>50000</particles>
  <batches>150</batches>
  <inactive>50</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-23.1 -24.299999999999997 -30.0 23.1 24.299999999999997 30.0</parameters>
    </space>
  </source>
  <output>
    <summary>true</summary>
    <tallies>true</tallies>
  </output>
  <temperature_method>interpolation</temperature_method>
</settings>
